################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LoanMgntAPI/v15/Server/sqlite3
/LoanMgntAPI/bin
/LoanMgntAPI/obj
/LoanMgntAPI/Properties
/Utility/bin
/Utility/obj
